# ĐỒ ÁN CUỐI KÌ

Bùi Hữu Nghĩa - 1712613

## TỔNG QUAN

## 1 - THU THẬP DỮ LIỆU

Ở đây em có dữ liệu là thông tin về các cuốn sách như tên, ngôn ngữ, rating,...  
Dữ liệu được lấy từ trang [kaggle.com](https://www.kaggle.com)  
[link dữ liệu](https://www.kaggle.com/bahramjannesarr/goodreads-book-datasets-10m?select=book1-100k.csv)  
Người sở hữu: Bahram Jannesar & Soroush Ghaderi  
License: CC0: Public Domain

## 2 - KHÁM PHÁ DỮ LIỆU

Trước khi đưa ra câu hỏi để trả lời, ta cần biết dữ liệu có gì. Vì vậy, đầu tiên ta cần đọc dữ liệu

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

Dữ liệu lưu trữ thông tin của hơn 50.000 cuốn sách, có id từ 1 đến 100.000 vì vậy nên file có tên là book1-1000k.  
Để biểu diễn trực quan dữ liệu, em dùng Dataframe của pandas

In [2]:
books_df = pd.read_csv('book1-100k.csv')

Xem thử thông tin các cuốn sách trông như thế nào

In [4]:
books_df.head(2)

,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3
0,1,Harry Potter and the Half-Blood Prince (Harry ...,1:9896,652,4:556485,total:2298124,16,9,Scholastic Inc.,28062,2006,eng,J.K. Rowling,4.57,2:25317,5:1546466,NaN,3:159960
1,2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870,4:604283,total:2358637,1,9,Scholastic Inc.,29770,2004,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781

In [6]:
books_df.shape

(58292, 18)

Vậy dữ liệu có kích thước là 58292 dòng x 18 cột

Thông tin về các cột như sau:

## 3 - CÁC CÂU HỎI CẦN ĐƯỢC TRẢ LỜI TỪ DỮ LIỆU

## 4 - TRẢ LỜI CÂU HỎI

## 5 - NHÌN LẠI QUÁ TRÌNH THỰC HIỆN

## 6 - TÀI LIỆU THAM KHẢO